<footer>
  <icon src="assets/icons/logo.svg"></icon>
  <div class="footer-main">
    <div class="footer-columns">
      <div class="footer-categories">
        <p>Categories</p>
        <ul>
          <li><a href="#">City</a></li>
          <li><a href="#">Urban change</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Viewpoints</a></li>
          <li><a href="#">Society</a></li>
        </ul>
      </div>

      <div class="footer-about">
        <p>About Us</p>
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Editorial Team</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer-follow">
        <p>Follow Us</p>
        <p>See the city from every angle.</p>
        <ul>
          <li>
            <a href="#"><icon src="assets/icons/linkedin.svg"></icon> </a>
          </li>
          <li>
            <a href="#"><icon src="assets/icons/facebook.svg"></icon> </a>
          </li>
          <li>
            <a href="#"><icon src="assets/icons/instagram.svg"></icon> </a>
          </li>
          <li>
            <a href="#"><icon src="assets/icons/youtube.svg"></icon> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
