<label class="theme-switch">
  <input type="checkbox" class="theme-switch__input" />

  <span class="theme-switch__slider">
    <span class="theme-switch__thumb">
      <!-- Soleil -->
      <svg
        class="theme-switch__sun"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
      >
        <path d="..." fill="#2E3584" />
      </svg>

      <!-- Lune -->
      <svg
        class="theme-switch__moon"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
      >
        <path d="..." fill="#2E3584" />
      </svg>
    </span>
  </span>
</label>
