@import "font";
@import "base";
@import "layout";
@import "modules/navigation";
@import "modules/hero";
@import "modules/hero2";

:root {
  // Accent
  --accent-red-small-50: rgba(211, 29, 9, 0.5);
  --accent-red-small-100: #d31d09;
  --accent-orange-light-100: #ff866b;

  // Primary
  --primary-blue-10: rgba(46, 53, 132, 0.1);
  --primary-blue-50: rgba(46, 53, 132, 0.5);
  --primary-blue-100: #2e3584;
  --primary-red-main-100: #f64222;

  // Secondary
  --secondary-blue-20: rgba(234, 236, 242, 0.2);
  --secondary-blue-50: rgba(234, 236, 242, 0.5);
  --secondary-blue-100: #eaecf2;

  // Neutral
  --neutral-black-100: #1c1c1a;
  --neutral-black-40: rgba(28, 28, 26, 0.4);
  --neutral-white-100: #f5f5f5;

  // Used in dark mode
  --night-blue-100: #0b0d27;
  --night-blue-20: rgba(11, 13, 39, 0.2);
  --dark-night-blue: #05061a;
}
